<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Notícias</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/noticias.css' %}"/>
</head>

<body>
    <section class="container">
        <form action="{% url 'cad_noticia'%}" method="post" class="noticias__container" >{% csrf_token %}

            <div class="titulo__noticia boxes">
                <label for="titulo"><strong>Título da Notícia:</strong></label>
                <br>
                <input type="text" name="titulo" class="input__title">
            </div>

            <div class="boxes">
                <label for="subtitulo"><strong>Subtítulo:</strong></label>
                <br>
                <input type="text" name="subtitulo" class="input__subtitle">
            </div>

            <div class="boxes">
                <label for="texto"><strong>Texto:</strong></label>
                <br>
                <input type="text" name="descricao" class="input__text">
            </div>

            <div>
                <button class="publicar__btn">Publicar</button>
            </div>
        </form>
    </section>

</body>

</html>