@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    text-decoration: none;
    list-style: none;
}

.empresas__container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 380px;
}

.title__box {
    font-family: 'Poppins', sans-serif;
    padding-top: 25px;
    padding-left: 80px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    gap: 35px;
    padding: 45px 80px 25px 80px;;
}

.flex-items:nth-child(1) {
    background-color: #21827B;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

    width: 50%;
    height: 320px;
}
  
.flex-items:nth-child(2) {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

    padding: 25px;
    width: 50%;
    height: 320px;
}
