body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: Red;
  font-size: 100px;
}

button {
  border: none;
  color: green;
  font-size: larger;
  font-weight: 900;
  border-radius: 10px;
  background-color: aquamarine;
}

button:hover {
  cursor: pointer;
  background-color: blueviolet;
  color: darkorange;
}
