@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li,
a,
button {    
    color: #fff;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f6f6;
}

.logo {
    font-size: 15px;
    color: #fff;
}

.navbar {
    background-color: #21827B;
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
}

.menu__list {
    display: flex;
    gap: 30px;
}

.descricao {
    padding-top: 50px;
    padding-left: 80px;
}

.container__curso {
    padding-top: 50px;
    padding-left: 80px;
}

.img__curso {
    background-color: gray;
    border-radius: 6px;
    width: 220px;
    height: 170px;
    object-fit: cover; /*
    flex-direction: row;
    padding-left: 80px;
    ;
    */
}

.dados__curso {
    padding-left: 20px;
}

.curso {
    font-size: 21px;
    font-weight: bold;
}

.curso,
.periodo {
    padding-top: 20px;
}

.curso,
.periodo,
.duracao,
.creditos {
    font-weight: 500;
}

.creditos {
    color: #29B260;
}

h1 {
    padding-bottom: 20px;
}

.nome__curso {
    padding: 25px 0px 0px 80px;
}

.fluxograma {
    padding: 80px;
}


.img__fluxograma {
    border-radius: 6px;
    width: 100%;
    height: 450px;
}

.download__btn {
    color: #fff;
    font-weight: bold;
    background-color: #8280F1;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    margin-top: 18px;
    margin-left: 91%;
    cursor: pointer;
}

.download__btn:hover {
    transition: all 0.5;
}

.sobre__curso {
    padding-left: 80px;
    padding-right: 80px;
}

.descricao__curso {
    padding-bottom: 65px;
    text-align: justify;
}

.footer__box {
    background-color: #dededef2;
    padding: 0px 80px 0px 80px;
}

.footer__container {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: px;
}
    
.footer__box-01 { 
    grid-area: 1 / 1 / 2 / 2; 
    height: 200px;
}

.footer__title {
    color: #288372;
    text-align: left;
    text-align: left;
    padding-top: 45px;
    padding-bottom: 10px;
}

.footer__subtitle {
    color: #288372;
    text-align: left;
    padding-top: 45px;
    padding-bottom: 10px;
    line-height: 1.5rem;
}

.footer__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3rem;
}

.footer__box-02 { 
    grid-area: 1 / 2 / 2 / 3;
}

.footer__box-03 { 
    grid-area: 1 / 3 / 2 / 4; 
}

.img__fluxo {
    height: 450px;
    width: 780px;
}