<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <div class="split-screen">
        <div class="left">
            <section class="copy">
                <h1>Blog do FGA</h1>
                <p>
                    O Blog da FGA é o portal perfeito para se
                    <br>atualizar sobre as notícias do nosso campus.
                </p>
            </section>
        </div>

        <div class="right">
            <form action="{% url 'login'%}" method="post">{% csrf_token %}
                <!--Title-->
                <section class="copy">
                    <h2>Login</h2>
                </section>
                <!--Email-->
                <div class="input-container email">
                    <label for="username">Username</label>
                    <input  type="text" name="username">
                </div>
                <!--Password-->
                <div class="container-password password">
                    <label for="password">Password</label>
                    <input  type="password" name="password">

                </div>
                <!--Sign Up-->
                <button class="signup-btn" type="submit">
                    Entrar
                </button>
            </form>
        </div>
    </div>
</body>
</html>