{% load static %}
<html lang="en">
  <link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}"/>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">Blog da FGA</div>

        <div>
          <ul class="menu__list">
            <li><a href="">Notícias</a></li>

            <li><a href="">Cursos</a></li>

            <li><a href="">Estrutura</a></li>

            <li><a href="">Empresas</a></li>

            <li><a href="">Equipes</a></li>

            <li><a href="">Administração</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <section class="nome__curso">

      <div class="img__curso">
{#          <img src="{{'assets/cursos/'+ curso.titulo + '-icone.jpg' }}" width="100px"/>#}
          <img src="{% static curso.icone %}" alt="My image"  width="100px">
      </div>
      <div class="dados__curso">
          <h1>{{ curso.titulo}}</h1>
          {{ curso.descricao }}<br/>
          Duração do curso: {{ curso.duracao }}<br/>
          Quantidade de créditos: {{ curso.numero_credito }}<br/>
      </div>
      
  </section>

  <section class="fluxograma">
      <h1>Fluxograma</h1>

      <div class="img__fluxograma">
          <img src="{% static curso.fluxograma %}" height="100%"/>
      </div>

      <button class="download__btn">
          Baixar PDF
      </button>
  </section>

  
  <section>
      <div class="sobre__curso">
          <h1>Um pouco sobre o curso</h1>            
          <p class="descricao__curso">
            {{ course.description }}
          </p>
      </div>
  </section>
  </body>
</html>
