<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <section class="nome__curso">
        <div class="img__curso">
            {%block 'imagem-curso'%}            
            {%endblock%}
        </div>

        <div class="dados__curso">
            {%block 'dados-curso'%}            
            {%endblock%}
        </div>
    </section>

    <section class="fluxograma">
        <h1>Fluxograma</h1>

        <div class="img__fluxograma">
            {%block 'imagem-fluxo'%}
            {%endblock%}
        </div>

        <button class="download__btn">
            Baixar PDF
        </button>
    </section>

    
    <section>
        <div class="sobre__curso">
            <h1>Um pouco sobre o curso</h1>            
            <p class="descricao__curso">
                {%block 'texto-descricao'%}                
                {%endblock%}
            </p> 
        </div>
    </section>
   

</body>
</html>