{% load static %}
<html lang="en">
  <link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}"/>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">Blog da FGA</div>

        <div>
          <ul class="menu__list">
            <li><a href="">Notícias</a></li>

            <li><a href="">Cursos</a></li>

            <li><a href="">Estrutura</a></li>

            <li><a href="">Empresas</a></li>

            <li><a href="">Equipes</a></li>

            <li><a href="">Administração</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <section class="nome__curso">

      <div class="img__curso">
          {%block 'imagem-curso'%}
          <!-- <img src="{% static '{{ course.icon }}' %}"/>      
   -->        {%endblock%}
      </div>

     <h1>{{ course.title }}</h1>
     
      <div class="dados__curso">
          {{ course.duration }}<br/>
          {{ course.description }}<br/>
          {{ course.credit_number }}<br/>
          {{ course.icon }}
      </div>
      
  </section>

  <section class="fluxograma">
      <h1>Fluxograma</h1>

      <div class="img__fluxograma">
          {%block 'imagem-fluxo'%}
          {%endblock%}
      </div>

      <button class="download__btn">
          Baixar PDF
      </button>
  </section>

  
  <section>
      <div class="sobre__curso">
          <h1>Um pouco sobre o curso</h1>            
          <p class="descricao__curso">
            {{ course.description }}
          </p>
      </div>
  </section>
  </body>
</html>
