@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {    
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.equipe__title {
    padding: 25px 0px 15px 180px;
}

.container__equipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 35px 0px 35px 180px;
}

.subtitles__equipes {
    color: #21827B;
}

.info__equipe {
    grid-area: 1 / 1 / 2 / 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 6px 0px 0px 6px;
   
    padding: 35px;
    width: 780px;
    height: 280px;
}

.descricao__equipe {
    padding: 15px 0px 15px 0px;
}

.img__icons {
    width: 30px;
    padding: 2px;
}

.container__img {
    background-color: #21827B;
    width: 380px;
    height: 280px;
}

.equipes__img {
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
    width: 380px;
    height: 280px;
}

